form {

    background: #0de3dc;
    border: 2px solid #545454;
    border-radius: 3px;
    padding: 40px;

}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
    background: #ffffff;
}


#resultsG {
     background: azure;
     margin-top: 25px;
     color: black;
}

#results{
    padding: 15px;
}
