<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Test</title>


</head>

<body>

<header>
    <div class="">
        Logo
    </div>
    <div class="">
        navigation
    </div>
</header>

<main>
    <section>
        <form class="nom" >
            <input id="name" type="text" name="input" value=""  placeholder="Name">
            <input id="submit" type="submit" name="" value="submit" >
        </form>
    </section>

    <section id="resultsG">
        <strong>Results:</strong>
        <div id="results"></div>
    </section>
</main>

<footer>
    <p>This is a footer </p>
</footer>

<script src="../index.js">

    if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js').then(registration => {
                console.log('SW registered: ', registration);
                alert('SW registered: ')
            }).catch(registrationError => {
                console.log('SW registration failed: ', registrationError);
                alert('SW registered: failed')
            });
        });
    }
</script>


</body>
</html>
